n8n/workflows/assessment-reminder-whatsapp-metsights-v2.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send Health Assessment Reminder WhatsApp Metsights\nSends camp17 incomplete health assessment reminder to each member.\nExpects: { notification_id, members: [{ first_name, phone }] }",
        "height": 672,
        "width": 2336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        3328
      ],
      "typeVersion": 1,
      "id": "95950761-b31c-4c2d-82c4-432da78f8af3",
      "name": "Sticky Note HA Reminder1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-reminder-whatsapp-metsights-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4576,
        3520
      ],
      "id": "04d9294a-e6ff-4849-ba21-48e180d94ae8",
      "name": "HA Reminder WhatsApp1",
      "webhookId": "i79j7kl2-5678-9012-efgh-ha005reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4784,
        3520
      ],
      "id": "09698c1c-57b9-4bbc-8570-96f91a6ddd21",
      "name": "Validate Payload1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst message = `camp17,${name},Your Health Assessment is Incomplete,Please complete for SuperShyft Bio-AI Health Report,By answering a few quick questions about your nutrition,sleep and physical activity.Your responses directly shape your Bio-AI Health Report the more accurate your inputs the more useful your report,If you have any query feel free to reach out on 8209512559,Please visit: www.metsights.com`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        3504
      ],
      "id": "943a539d-4f9e-41b9-8af4-946f743a9f23",
      "name": "Prepare HA Reminder Message1"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/6a057e696f1a8bf9dd523d1f",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5488,
        3504
      ],
      "id": "c58cb27e-dbdd-4979-97a4-42c70010713f",
      "name": "Send HA Reminder WhatsApp1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valfail-001",
              "name": "notification_id",
              "value": "={{ $('HA Reminder WhatsApp1').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valfail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valfail-003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5008,
        3760
      ],
      "id": "884a9469-a9eb-4cc1-a696-50564877e38e",
      "name": "Validation Failed Response1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6576,
        3776
      ],
      "id": "f0d39f12-75a1-4a18-bbca-10f07400b8ee",
      "name": "Callback1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5008,
        3504
      ],
      "id": "cd538f18-2c69-4ec1-901c-24225180c506",
      "name": "Split Members11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-001",
              "name": "notification_id",
              "value": "={{ $('Prepare HA Reminder Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-003",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6208,
        3472
      ],
      "id": "90267890-5b92-40b5-92cf-47127ed5b41d",
      "name": "WhatsApp Sent Response10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-001",
              "name": "notification_id",
              "value": "={{ $('Prepare HA Reminder Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-003",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5808,
        3680
      ],
      "id": "f97eeb2c-ee44-4d8b-b3e3-4babe39ee4c2",
      "name": "WhatsApp Failed Response10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "071065ba-8ee1-41ca-8d29-623fad3803c5",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5808,
        3488
      ],
      "id": "58aa0f60-f731-4379-be67-ce12634de3cc",
      "name": "WhatAPI Accepted?3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0fed3ba-9ece-421c-b334-63ecd4d043f2",
              "name": "notification_id",
              "value": "={{ $('Prepare HA Reminder Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "61081a70-392c-44b4-8be7-1f010932a274",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "9c022602-0d3d-45a6-93f2-76d5a0376e65",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6032,
        3584
      ],
      "id": "1747e495-d2af-4d93-aaa8-322ac8c62d87",
      "name": "WhatAPI Not Accepted3"
    }
  ],
  "connections": {
    "HA Reminder WhatsApp1": {
      "main": [
        [
          {
            "node": "Validate Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload1": {
      "main": [
        [
          {
            "node": "Split Members11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HA Reminder Message1": {
      "main": [
        [
          {
            "node": "Send HA Reminder WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HA Reminder WhatsApp1": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response1": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members11": {
      "main": [
        [
          {
            "node": "Prepare HA Reminder Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response10": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response10": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Accepted?3": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted3": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}