n8n/workflows/booking-alert-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "183bb390-c946-4959-bb01-b5b54c3757a1",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9440,
        2528
      ],
      "id": "3648dd2b-bd86-4666-a983-0f135d32407b",
      "name": "WhatAPI Accepted?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60ab693a-3058-4b37-9094-7e36bf8edd94",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Message5').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "daacaf46-6491-4daa-b8f0-a3e1ee2e3931",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Message5').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "ad55f003-1bc3-44d2-8dbf-45e2296a1e38",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Message5').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "72f179e7-19c6-4925-8a5d-58635bcc5f45",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "7459a2e4-4ddb-49f1-901d-443793a0122e",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9776,
        2704
      ],
      "id": "f3f4d414-85f1-4bb6-9b5e-603c5b96f16a",
      "name": "WhatAPI Not Accepted"
    },
    {
      "parameters": {
        "content": "## Send Booking Alert – WhatsApp + Email to Members + Dispatch\nSends booking alert WhatsApp + Email to each member in the list.\nAfter all sends, calls dispatch API with participant_user_id.\nExpects: { notification_id, engagement_id, members[], participant_details{} }",
        "height": 1168,
        "width": 3872
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7872,
        2432
      ],
      "typeVersion": 1,
      "id": "629ae4e0-3f21-4b64-856b-689ce163ed00",
      "name": "Sticky Note Booking5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-alert-email+whatsapp+participant-welcome-supershyft-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7984,
        2912
      ],
      "id": "62d0e9f0-57b8-4549-bee6-a6e4e9b113c2",
      "name": "Booking Alert WhatsApp5",
      "webhookId": "5e5e7e05-df35-839f-fbf8-jdj22f20963f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "h1000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "h1000004-0000-0000-0000-000000000004",
              "leftValue": "={{ $json.body.participant_details }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000005-0000-0000-0000-000000000005",
              "leftValue": "={{ $json.body.engagement_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8224,
        2912
      ],
      "id": "c527a89f-1809-431f-8bd7-e9a461801aa1",
      "name": "Validate Booking Payload7"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\nconst engagementId = body.engagement_id;\nconst participantDetails = body.participant_details;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    engagement_id: engagementId,\n    participant_details: participantDetails,\n    first_name: member.first_name || 'Agent',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8576,
        2896
      ],
      "id": "16f5a502-a7ff-48b3-8925-2318d23f863f",
      "name": "Split Members2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Booking Alert WhatsApp5').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000022-0000-0000-0000-000000000022",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "h2000023-0000-0000-0000-000000000023",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8576,
        3392
      ],
      "id": "2f25d2a8-4cb5-444d-a379-72f0ec86da82",
      "name": "Booking Validation Failed5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst agentName = (item.first_name || 'Agent').trim();\n\nlet phone = String(item.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst pd = item.participant_details || {};\nconst detailsName  = pd.name  || 'New Participant';\nconst detailsPhone = pd.phone || '**********';\nconst detailsEmail = pd.email || 'participant@email.com';\nconst bookingDate  = pd.collection_date || 'N/A';\nconst bookingTime  = pd.collection_time || 'N/A';\n\nconst message =\n  `camp16,${agentName},Please initiate the process and proceed with the booking,` +\n  `Details Name: ${detailsName} Phone: ${detailsPhone} Email: ${detailsEmail},` +\n  `Date: ${bookingDate} Time: ${bookingTime},` +\n  `Address in Admin You can check the details below for your convenience. Please visit:https://admin.supershyft.com/`;\n\nreturn {\n  json: {\n    notification_id: item.notification_id,\n    engagement_id: item.engagement_id,\n    participant_details: item.participant_details,\n    email: item.email,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8864,
        2896
      ],
      "id": "3c2776a9-bf67-4438-a6d8-c2d00bb7b3f0",
      "name": "Prepare Booking Message5"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/6a057e696f1a8bf9dd523d1f",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9152,
        2752
      ],
      "id": "cda645df-8b2c-4b40-8642-c65aff177593",
      "name": "Send Booking WhatsApp5",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $('Prepare Booking Message5').item.json;\nconst pd = item.participant_details || {};\n\nconst apptDate = pd.collection_date || 'N/A';\nconst timeSlot = pd.collection_time || '';\nlet formattedTime = timeSlot;\ntry {\n  const [hStr, mStr] = timeSlot.split(':');\n  const h = parseInt(hStr, 10);\n  const m = parseInt(mStr, 10);\n  const ampm = h >= 12 ? 'PM' : 'AM';\n  const h12 = h % 12 || 12;\n  formattedTime = `${String(h12).padStart(2,'0')}:${String(m).padStart(2,'0')} ${ampm}`;\n} catch (_) {}\n\nconst currentTime = new Date().toISOString().replace('T', ' ').substring(0, 19);\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #4CAF50; color: white; padding: 20px; text-align: center; border-radius: 5px 5px 0 0; }\n    .content { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #555; }\n    .value { color: #333; }\n    .footer { background-color: #333; color: white; padding: 15px; text-align: center; border-radius: 0 0 5px 5px; }\n    .highlight { background-color: #e8f5e8; padding: 10px; border-radius: 5px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\\\"container\\\">\n    <div class=\\\"header\\\"><h2>&#127881; New Health Camp Registration</h2><p>SuperShyft Health Camp</p></div>\n    <div class=\\\"content\\\">\n      <div class=\\\"highlight\\\"><strong>&#128197; New registration received at:</strong> ${currentTime}</div>\n      <h3>&#128100; Participant Information</h3>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Name:</span> <span class=\\\"value\\\">${pd.name || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Email:</span> <span class=\\\"value\\\">${pd.email || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Phone:</span> <span class=\\\"value\\\">${pd.phone || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Age:</span> <span class=\\\"value\\\">${pd.age || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Gender:</span> <span class=\\\"value\\\">${pd.gender || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Address:</span> <span class=\\\"value\\\">${pd.address || 'Not provided'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Pincode:</span> <span class=\\\"value\\\">${pd.pincode || 'Not provided'}</span></div>\n      <h3>&#128197; Appointment Details</h3>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Date:</span> <span class=\\\"value\\\">${apptDate}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Time:</span> <span class=\\\"value\\\">${formattedTime}</span></div>\n      <div class=\\\"highlight\\\"><strong>&#128161; Next Steps:</strong><ul><li>Review the registration details</li><li>Confirm the appointment if needed</li><li>Access the admin panel: <a href=\\\"https://admin.supershyft.com/\\\">admin.supershyft.com</a></li></ul></div>\n    </div>\n    <div class=\\\"footer\\\"><p>Automated notification from SuperShyft Health Camp Registration System</p><p>Please do not reply to this email</p></div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    notification_id: item.notification_id,\n    engagement_id: item.engagement_id,\n    participant_details: item.participant_details,\n    to: item.email,\n    subject: 'Booking Alert - SuperShyft',\n    htmlBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9152,
        3024
      ],
      "id": "837ddcc4-f2f1-4b54-93a8-116543356d83",
      "name": "Prepare Booking Email4"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        9440,
        3024
      ],
      "id": "a79497f1-039e-4cad-9334-c92d1a2c76b7",
      "name": "Send Booking Email4",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "0950e8c1-2854-487e-9396-2eef74575f75",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000001-0000-0000-0000-000000000001",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Message5').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000002-0000-0000-0000-000000000002",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Message5').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "h2000003-0000-0000-0000-000000000003",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Message5').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "h2000004-0000-0000-0000-000000000004",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "h2000005-0000-0000-0000-000000000005",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9776,
        2512
      ],
      "id": "b20484ba-ad19-4630-b50e-682c469d57ff",
      "name": "WhatsApp Sent Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Message5').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000012-0000-0000-0000-000000000012",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Message5').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "h2000013-0000-0000-0000-000000000013",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Message5').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "h2000014-0000-0000-0000-000000000014",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "h2000015-0000-0000-0000-000000000015",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9440,
        2768
      ],
      "id": "9f818209-7c1a-409b-86be-7d0fde8f57f1",
      "name": "WhatsApp Failed Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Email4').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "aa000012-0000-0000-0000-000000000012",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Email4').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "aa000013-0000-0000-0000-000000000013",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Email4').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "aa000014-0000-0000-0000-000000000014",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "aa000015-0000-0000-0000-000000000015",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9776,
        3008
      ],
      "id": "90c14f56-8124-4883-b6f8-14583fac45d9",
      "name": "Email Sent Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Email4').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "aa000022-0000-0000-0000-000000000022",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Email4').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "aa000023-0000-0000-0000-000000000023",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Email4').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "aa000024-0000-0000-0000-000000000024",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "aa000025-0000-0000-0000-000000000025",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9776,
        3216
      ],
      "id": "926faec3-aefb-4c4b-b10c-45e458960ece",
      "name": "Email Failed Response4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        10144,
        2880
      ],
      "id": "3276b86b-dab1-47d3-84c2-2742b263d6be",
      "name": "Merge WhatsApp & Email Results4"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst notificationId = allItems[0]?.json?.notification_id;\nconst engagementId   = allItems[0]?.json?.engagement_id;\n\nconst userIds = [...new Set(\n  allItems\n    .map(i => i.json.participant_user_id)\n    .filter(Boolean)\n)];\n\nlet overallStatus = 'failed';\nconst sentItems = allItems.filter(i => i.json.status === 'sent');\nif (sentItems.length > 0) overallStatus = 'sent';\n\nconst messages = allItems.map(i => `${i.json.channel}: ${i.json.status}`).join(' | ');\n\nreturn [{\n  json: {\n    notification_id: notificationId,\n    engagement_id:   engagementId,\n    user_ids:        userIds,\n    status:          overallStatus,\n    message:         messages\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10432,
        2880
      ],
      "id": "bae8b35a-4e99-4fa5-a775-4977c6d83e74",
      "name": "Combine Results4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/dispatch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service_key\": \"welcome-whatsapp\",\n  \"user_ids\": {{ JSON.stringify($json.user_ids) }},\n  \"engagement_id\": {{ $json.engagement_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10672,
        2880
      ],
      "id": "a2645285-6004-40c9-805a-aafebc399b7f",
      "name": "Dispatch Notification2",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $('Combine Results4').first().json.notification_id }},\n  \"status\": \"{{ $('Combine Results4').first().json.status }}\",\n  \"message\": \"{{ $('Combine Results4').first().json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11472,
        3392
      ],
      "id": "f24a0f4c-dc02-46b2-9129-7ec58c5d85df",
      "name": "Booking Callback5",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de8bd379-246a-429f-9ab2-93624739c5a8",
              "name": "notification_id",
              "value": "={{ $('Combine Results4').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "a3e84759-a2a3-45cd-a638-82eb186aa5fc",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "14ffc142-b19e-48dd-bbdb-625773a2c516",
              "name": "message",
              "value": "={{ $('Combine Results4').item.json.message }} Participant Notification Failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10960,
        3168
      ],
      "id": "cf8420e5-f53f-4619-9499-15ef0825765b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4323c66f-1b68-4b23-bf8e-935887baf848",
              "name": "notification_id",
              "value": "={{ $('Combine Results4').item.json.notification_id }}",
              "type": "string"
            },
            {
              "id": "b5b44448-538d-4d9f-823b-abfba38d9b09",
              "name": "message",
              "value": "={{ $('Combine Results4').item.json.message }} | Participant Notification sent Successfyllu",
              "type": "string"
            },
            {
              "id": "e4721d0e-9b01-4a9e-9eeb-805d814651a7",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10960,
        2864
      ],
      "id": "a0cbd649-8628-4ea9-b755-d532b353a04f",
      "name": "Edit Fields5"
    }
  ],
  "connections": {
    "WhatAPI Accepted?": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Alert WhatsApp5": {
      "main": [
        [
          {
            "node": "Validate Booking Payload7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Booking Payload7": {
      "main": [
        [
          {
            "node": "Split Members2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Booking Validation Failed5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members2": {
      "main": [
        [
          {
            "node": "Prepare Booking Message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Validation Failed5": {
      "main": [
        [
          {
            "node": "Booking Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Message5": {
      "main": [
        [
          {
            "node": "Send Booking WhatsApp5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Booking Email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking WhatsApp5": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Email4": {
      "main": [
        [
          {
            "node": "Send Booking Email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Email4": {
      "main": [
        [
          {
            "node": "Email Sent Response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response4": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response4": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response4": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Email Failed Response4": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge WhatsApp & Email Results4": {
      "main": [
        [
          {
            "node": "Combine Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results4": {
      "main": [
        [
          {
            "node": "Dispatch Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Notification2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Booking Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Booking Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}