n8n/workflows/booking-alert-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send Booking Alert – WhatsApp + Email to Members + Dispatch\nSends booking alert WhatsApp + Email to each member in the list.\nAfter all sends, calls dispatch API with participant_user_id.\nExpects: { notification_id, engagement_id, members[], participant_details{} }",
        "height": 1168,
        "width": 3872
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        2448
      ],
      "typeVersion": 1,
      "id": "565d61da-ae96-4538-bc43-288e1f334544",
      "name": "Sticky Note Booking4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-alert-email+whatsapp+participant-welcome-supershyft",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3312,
        2928
      ],
      "id": "a542c7f0-e7f9-40e0-aec9-3ad447146614",
      "name": "Booking Alert WhatsApp4",
      "webhookId": "5e5e7e05-df35-839f-fbf8-jdj22f20963f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "h1000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "h1000004-0000-0000-0000-000000000004",
              "leftValue": "={{ $json.body.participant_details }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "h1000005-0000-0000-0000-000000000005",
              "leftValue": "={{ $json.body.engagement_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3552,
        2928
      ],
      "id": "8d09efdd-10fe-4591-a452-3260b93b4809",
      "name": "Validate Booking Payload6"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\nconst engagementId = body.engagement_id;\nconst participantDetails = body.participant_details;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    engagement_id: engagementId,\n    participant_details: participantDetails,\n    first_name: member.first_name || 'Agent',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || '',\n    record_id: member.record_id || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        2912
      ],
      "id": "c6e1028d-e54d-45dd-8620-bfc599131126",
      "name": "Split Members"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Booking Alert WhatsApp4').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000022-0000-0000-0000-000000000022",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "h2000023-0000-0000-0000-000000000023",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3904,
        3408
      ],
      "id": "16e3b8f6-fc86-49ef-a4ea-e92c6781d140",
      "name": "Booking Validation Failed4"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst agentName = (item.first_name || 'Agent').trim();\n\nlet phone = String(item.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst pd = item.participant_details || {};\nconst detailsName  = pd.name  || 'New Participant';\nconst detailsPhone = pd.phone || '**********';\nconst detailsEmail = pd.email || 'participant@email.com';\nconst bookingDate  = pd.collection_date || 'N/A';\nconst bookingTime  = pd.collection_time || 'N/A';\n\nconst message =\n  `camp16,${agentName},Please initiate the process and proceed with the booking,` +\n  `Details Name: ${detailsName} Phone: ${detailsPhone} Email: ${detailsEmail},` +\n  `Date: ${bookingDate} Time: ${bookingTime},` +\n  `Address in Admin You can check the details below for your convenience. Please visit:https://admin.supershyft.com/`;\n\nreturn {\n  json: {\n    notification_id: item.notification_id,\n    engagement_id: item.engagement_id,\n    participant_details: item.participant_details,\n    email: item.email,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        2912
      ],
      "id": "360e68fc-c9b9-4237-9b42-d7adf9141d21",
      "name": "Prepare Booking Message4"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/6a057e696f1a8bf9dd523d1f",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4480,
        2768
      ],
      "id": "8c1f30df-cd87-4e3e-8a14-b4fcddddc4de",
      "name": "Send Booking WhatsApp4",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $('Prepare Booking Message4').item.json;\nconst pd = item.participant_details || {};\n\nconst apptDate = pd.collection_date || 'N/A';\nconst timeSlot = pd.collection_time || '';\nlet formattedTime = timeSlot;\ntry {\n  const [hStr, mStr] = timeSlot.split(':');\n  const h = parseInt(hStr, 10);\n  const m = parseInt(mStr, 10);\n  const ampm = h >= 12 ? 'PM' : 'AM';\n  const h12 = h % 12 || 12;\n  formattedTime = `${String(h12).padStart(2,'0')}:${String(m).padStart(2,'0')} ${ampm}`;\n} catch (_) {}\n\nconst currentTime = new Date().toISOString().replace('T', ' ').substring(0, 19);\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #4CAF50; color: white; padding: 20px; text-align: center; border-radius: 5px 5px 0 0; }\n    .content { background-color: #f9f9f9; padding: 20px; border: 1px solid #ddd; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #555; }\n    .value { color: #333; }\n    .footer { background-color: #333; color: white; padding: 15px; text-align: center; border-radius: 0 0 5px 5px; }\n    .highlight { background-color: #e8f5e8; padding: 10px; border-radius: 5px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\\\"container\\\">\n    <div class=\\\"header\\\"><h2>&#127881; New Health Camp Registration</h2><p>SuperShyft Health Camp</p></div>\n    <div class=\\\"content\\\">\n      <div class=\\\"highlight\\\"><strong>&#128197; New registration received at:</strong> ${currentTime}</div>\n      <h3>&#128100; Participant Information</h3>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Name:</span> <span class=\\\"value\\\">${pd.name || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Email:</span> <span class=\\\"value\\\">${pd.email || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Phone:</span> <span class=\\\"value\\\">${pd.phone || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Age:</span> <span class=\\\"value\\\">${pd.age || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Gender:</span> <span class=\\\"value\\\">${pd.gender || 'N/A'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Address:</span> <span class=\\\"value\\\">${pd.address || 'Not provided'}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Pincode:</span> <span class=\\\"value\\\">${pd.pincode || 'Not provided'}</span></div>\n      <h3>&#128197; Appointment Details</h3>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Date:</span> <span class=\\\"value\\\">${apptDate}</span></div>\n      <div class=\\\"field\\\"><span class=\\\"label\\\">Time:</span> <span class=\\\"value\\\">${formattedTime}</span></div>\n      <div class=\\\"highlight\\\"><strong>&#128161; Next Steps:</strong><ul><li>Review the registration details</li><li>Confirm the appointment if needed</li><li>Access the admin panel: <a href=\\\"https://admin.supershyft.com/\\\">admin.supershyft.com</a></li></ul></div>\n    </div>\n    <div class=\\\"footer\\\"><p>Automated notification from SuperShyft Health Camp Registration System</p><p>Please do not reply to this email</p></div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    notification_id: item.notification_id,\n    engagement_id: item.engagement_id,\n    participant_details: item.participant_details,\n    to: item.email,\n    subject: 'Booking Alert - SuperShyft',\n    htmlBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3040
      ],
      "id": "b81380b2-f24d-48eb-abfc-743000da0991",
      "name": "Prepare Booking Email3"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4768,
        3040
      ],
      "id": "9f80e054-9cbb-4988-a3c7-39e108240fb0",
      "name": "Send Booking Email3",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "0950e8c1-2854-487e-9396-2eef74575f75",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000001-0000-0000-0000-000000000001",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Message4').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000002-0000-0000-0000-000000000002",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Message4').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "h2000003-0000-0000-0000-000000000003",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Message4').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "h2000004-0000-0000-0000-000000000004",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "h2000005-0000-0000-0000-000000000005",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        2544
      ],
      "id": "1ad6c7c0-d801-4a53-87e2-0a670d23ace1",
      "name": "WhatsApp Sent Response3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h2000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Message4').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "h2000012-0000-0000-0000-000000000012",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Message4').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "h2000013-0000-0000-0000-000000000013",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Message4').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "h2000014-0000-0000-0000-000000000014",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "h2000015-0000-0000-0000-000000000015",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        2784
      ],
      "id": "26890241-74b4-4d7f-9b4f-7de3f0580781",
      "name": "WhatsApp Failed Response3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Email3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "aa000012-0000-0000-0000-000000000012",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Email3').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "aa000013-0000-0000-0000-000000000013",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Email3').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "aa000014-0000-0000-0000-000000000014",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "aa000015-0000-0000-0000-000000000015",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5104,
        3024
      ],
      "id": "9033f5e5-5a2b-4cf1-a05c-55e6f5406cf8",
      "name": "Email Sent Response3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Prepare Booking Email3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "aa000022-0000-0000-0000-000000000022",
              "name": "engagement_id",
              "value": "={{ $('Prepare Booking Email3').item.json.engagement_id }}",
              "type": "number"
            },
            {
              "id": "aa000023-0000-0000-0000-000000000023",
              "name": "participant_user_id",
              "value": "={{ $('Prepare Booking Email3').item.json.participant_details.participant_user_id }}",
              "type": "string"
            },
            {
              "id": "aa000024-0000-0000-0000-000000000024",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "aa000025-0000-0000-0000-000000000025",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5104,
        3232
      ],
      "id": "73c7ee8c-dc21-4368-bb03-bdff901a3ed1",
      "name": "Email Failed Response3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5472,
        2896
      ],
      "id": "46ea5e3d-17e1-4521-ad5f-6b5b3c42539a",
      "name": "Merge WhatsApp & Email Results3"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst notificationId = allItems[0]?.json?.notification_id;\nconst engagementId   = allItems[0]?.json?.engagement_id;\n\nconst userIds = [...new Set(\n  allItems\n    .map(i => i.json.participant_user_id)\n    .filter(Boolean)\n)];\n\nlet overallStatus = 'failed';\nconst sentItems = allItems.filter(i => i.json.status === 'sent');\nif (sentItems.length > 0) overallStatus = 'sent';\n\nconst messages = allItems.map(i => `${i.json.channel}: ${i.json.status}`).join(' | ');\n\nreturn [{\n  json: {\n    notification_id: notificationId,\n    engagement_id:   engagementId,\n    user_ids:        userIds,\n    status:          overallStatus,\n    message:         messages\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        2896
      ],
      "id": "38ef1df1-1606-4fd8-837b-d9f89528a2b1",
      "name": "Combine Results3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/dispatch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service_key\": \"welcome-whatsapp\",\n  \"user_ids\": {{ JSON.stringify($json.user_ids) }},\n  \"engagement_id\": {{ $json.engagement_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6000,
        2896
      ],
      "id": "2cadb007-6540-4a1b-947e-e7a819bf436e",
      "name": "Dispatch Notification",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $('Combine Results3').first().json.notification_id }},\n  \"status\": \"{{ $('Combine Results3').first().json.status }}\",\n  \"message\": \"{{ $('Combine Results3').first().json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6800,
        3408
      ],
      "id": "0e94327b-29f1-4149-9924-b601bf4b1d9f",
      "name": "Booking Callback4",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de8bd379-246a-429f-9ab2-93624739c5a8",
              "name": "notification_id",
              "value": "={{ $('Combine Results3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "a3e84759-a2a3-45cd-a638-82eb186aa5fc",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "14ffc142-b19e-48dd-bbdb-625773a2c516",
              "name": "message",
              "value": "={{ $('Combine Results3').item.json.message }} Participant Notification Failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6288,
        3184
      ],
      "id": "c85cfe68-0b0a-426a-9987-edd3aea2b066",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4323c66f-1b68-4b23-bf8e-935887baf848",
              "name": "notification_id",
              "value": "={{ $('Combine Results3').item.json.notification_id }}",
              "type": "string"
            },
            {
              "id": "b5b44448-538d-4d9f-823b-abfba38d9b09",
              "name": "message",
              "value": "={{ $('Combine Results3').item.json.message }} | Participant Notification sent Successfyllu",
              "type": "string"
            },
            {
              "id": "e4721d0e-9b01-4a9e-9eeb-805d814651a7",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6288,
        2880
      ],
      "id": "7b4bf4b0-bb8a-4074-9c0b-829f1162df83",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "Booking Alert WhatsApp4": {
      "main": [
        [
          {
            "node": "Validate Booking Payload6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Booking Payload6": {
      "main": [
        [
          {
            "node": "Split Members",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Booking Validation Failed4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members": {
      "main": [
        [
          {
            "node": "Prepare Booking Message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Validation Failed4": {
      "main": [
        [
          {
            "node": "Booking Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Message4": {
      "main": [
        [
          {
            "node": "Send Booking WhatsApp4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Booking Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking WhatsApp4": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Email3": {
      "main": [
        [
          {
            "node": "Send Booking Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Email3": {
      "main": [
        [
          {
            "node": "Email Sent Response3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response3": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response3": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response3": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Email Failed Response3": {
      "main": [
        [
          {
            "node": "Merge WhatsApp & Email Results3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge WhatsApp & Email Results3": {
      "main": [
        [
          {
            "node": "Combine Results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results3": {
      "main": [
        [
          {
            "node": "Dispatch Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Notification": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Booking Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Booking Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}