n8n/workflows/notify-admin-contact-query.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Notify Admin – Contact Query\nSends an email to each assistant in the members list when a user submits a support / contact query.\nExpects: { notification_id, members: [{ first_name, last_name, phone, email }], participant_details: { name, email, phone, contact_input, query_text, ticket_id, participant_user_id } }\n\nEach member.email is used as the email recipient (to). Query / user details come from participant_details.",
        "height": 620,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        -32
      ],
      "typeVersion": 1,
      "id": "a1b2c3d4-0001-4a1a-9c11-adminstickynote",
      "name": "Sticky Note Admin Contact"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify-admin-contact-query",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2160,
        160
      ],
      "id": "a1b2c3d4-0002-4b2b-9c22-webhookadmincontact",
      "name": "Admin Contact Query Webhook",
      "webhookId": "n8n-admin-contact-query-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-101",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-102",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-103",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2368,
        160
      ],
      "id": "a1b2c3d4-0003-4c3c-9c33-validatepayload",
      "name": "Validate Payload"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\nconst participantDetails = body.participant_details || {};\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    participant_details: participantDetails,\n    first_name: (member.first_name || 'Admin').trim(),\n    last_name: (member.last_name || '').trim(),\n    phone: member.phone || '',\n    email: member.email\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        144
      ],
      "id": "a1b2c3d4-0004-4d4d-9c44-splitmembers",
      "name": "Split Members"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\nconst adminName = `${data.first_name} ${data.last_name}`.trim() || 'there';\nconst pd = data.participant_details || {};\nconst userName = (pd.name || '').trim() || 'Unknown user';\nconst userPhone = pd.phone || pd.contact_input || '—';\nconst userEmail = pd.email || '—';\nconst queryText = pd.query_text || '—';\nconst ticketId = pd.ticket_id || data.notification_id;\nconst adminPanelUrl = 'https://admin.supershyft.com/support';\n\nconst escapeHtml = (value) => String(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;');\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: Arial, sans-serif; background-color: #f0f2f5; color: #333; -webkit-text-size-adjust: 100%; }\n    .wrapper { background-color: #f0f2f5; padding: 24px 12px; }\n    .container { max-width: 520px; margin: 0 auto; background-color: #ffffff; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 24px rgba(0,0,0,0.10); width: 100%; }\n    .header { background: linear-gradient(135deg, #0a2e2a 0%, #0d4a42 60%, #0f5c52 100%); padding: 32px 24px 26px; text-align: center; }\n    .header-title { color: #ffffff; font-size: 22px; font-weight: 700; letter-spacing: 1px; }\n    .header-subtitle { color: #7ecfc4; font-size: 11px; margin-top: 6px; letter-spacing: 2.5px; text-transform: uppercase; }\n    .body { padding: 28px 24px; }\n    .greeting { font-size: 17px; font-weight: 700; color: #111; margin-bottom: 12px; }\n    .message { font-size: 14px; color: #555; line-height: 1.75; margin-bottom: 24px; }\n    .detail-box { background-color: #f7faf9; border: 1px solid #e3ece9; border-radius: 12px; padding: 4px 20px; margin-bottom: 24px; }\n    .detail-row { display: table; width: 100%; padding: 12px 0; border-bottom: 1px solid #eef2f1; }\n    .detail-row:last-child { border-bottom: none; }\n    .detail-label { display: table-cell; font-size: 11px; color: #999; text-transform: uppercase; letter-spacing: 1px; width: 90px; vertical-align: top; padding-top: 2px; }\n    .detail-value { display: table-cell; font-size: 14px; color: #222; font-weight: 600; white-space: pre-wrap; }\n    .cta-wrap { text-align: center; margin-bottom: 28px; }\n    .cta-button { display: inline-block; background: linear-gradient(135deg, #0a2e2a, #0f5c52); color: #ffffff !important; text-decoration: none; font-size: 14px; font-weight: 700; padding: 13px 32px; border-radius: 8px; letter-spacing: 0.3px; }\n    .divider { border: none; border-top: 1px solid #f0f0f0; margin: 0 0 22px; }\n    .note { background-color: #fffbef; border-left: 3px solid #f0a500; padding: 12px 14px; border-radius: 6px; margin-bottom: 8px; }\n    .note p { font-size: 13px; color: #7a5c00; line-height: 1.65; }\n    .footer { background-color: #f7f8f9; border-top: 1px solid #ececec; padding: 20px 24px; text-align: center; }\n    .footer p { font-size: 11px; color: #bbb; line-height: 1.9; }\n    .footer a { color: #0d4a42; font-weight: 600; text-decoration: none; }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"container\">\n      <div class=\"header\">\n        <div class=\"header-title\">Supershyft</div>\n        <div class=\"header-subtitle\">Support Notification</div>\n      </div>\n      <div class=\"body\">\n        <p class=\"greeting\">Hi ${escapeHtml(adminName)},</p>\n        <p class=\"message\">A user has submitted a support query. Details are below &mdash; please follow up as soon as possible.</p>\n        <div class=\"detail-box\">\n          <div class=\"detail-row\"><div class=\"detail-label\">Ticket</div><div class=\"detail-value\">#${escapeHtml(ticketId)}</div></div>\n          <div class=\"detail-row\"><div class=\"detail-label\">Name</div><div class=\"detail-value\">${escapeHtml(userName)}</div></div>\n          <div class=\"detail-row\"><div class=\"detail-label\">Phone</div><div class=\"detail-value\">${escapeHtml(userPhone)}</div></div>\n          <div class=\"detail-row\"><div class=\"detail-label\">Email</div><div class=\"detail-value\">${escapeHtml(userEmail)}</div></div>\n          <div class=\"detail-row\"><div class=\"detail-label\">Query</div><div class=\"detail-value\">${escapeHtml(queryText)}</div></div>\n        </div>\n        <div class=\"cta-wrap\"><a href=\"${adminPanelUrl}\" class=\"cta-button\">View Support Tickets</a></div>\n        <hr class=\"divider\">\n        <div class=\"note\"><p><strong>Action needed:</strong> This user is waiting on a response. Please reach out via phone or email at your earliest convenience.</p></div>\n      </div>\n      <div class=\"footer\">\n        <p>Automated alert from <strong style=\"color:#444;\">Supershyft</strong></p>\n        <p style=\"margin-top:10px;\"><a href=\"https://www.supershyft.com\">www.supershyft.com</a></p>\n        <p style=\"margin-top:10px;\">This is an automated email. Please do not reply directly to this message.</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    notification_id: data.notification_id,\n    to: data.email,\n    subject: `New support query #${ticketId} from ${userName}`,\n    htmlBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        144
      ],
      "id": "a1b2c3d4-0005-4e5e-9c55-prepareadminemail",
      "name": "Prepare Admin Email"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3040,
        144
      ],
      "id": "a1b2c3d4-0006-4f6f-9c66-sendadminemail",
      "name": "Send Admin Email",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "a1b2c3d4-9f9f-467f-bb1b-sendadminemail01",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-101",
              "name": "notification_id",
              "value": "={{ $('Prepare Admin Email').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-102",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-103",
              "name": "message",
              "value": "Admin notification email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3456,
        128
      ],
      "id": "a1b2c3d4-0007-4a7a-9c77-emailsentresponse",
      "name": "Email Sent Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-101",
              "name": "notification_id",
              "value": "={{ $('Prepare Admin Email').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-102",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-103",
              "name": "message",
              "value": "Admin notification email failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        224
      ],
      "id": "a1b2c3d4-0008-4b8b-9c88-emailfailedresponse",
      "name": "Email Failed Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valfail-101",
              "name": "notification_id",
              "value": "={{ $('Admin Contact Query Webhook').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valfail-102",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valfail-103",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        336
      ],
      "id": "a1b2c3d4-0009-4c9c-9c99-validationfailedresponse",
      "name": "Validation Failed Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3760,
        336
      ],
      "id": "a1b2c3d4-0010-4d0d-9c00-callbacknode",
      "name": "Callback",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Admin Contact Query Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Split Members",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members": {
      "main": [
        [
          {
            "node": "Prepare Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Admin Email": {
      "main": [
        [
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Email": {
      "main": [
        [
          {
            "node": "Email Sent Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed Response": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}
