n8n/workflows/pretest-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send Pre-test WhatsApp\nSends camp14 WhatsApp template message to each member via webhook gateway.\nExpects: { notification_id, members: [{ first_name, last_name, email, phone }] }",
        "height": 592,
        "width": 2144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        2576
      ],
      "typeVersion": 1,
      "id": "b6ad6c2e-6b90-4fd3-8851-2b1f63e4245a",
      "name": "Sticky Note WhatsApp8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pretest-whatsapp-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4528,
        2800
      ],
      "id": "980c77e4-6b9a-4123-8ee4-c69e4794a354",
      "name": "Pretest WhatsApp2",
      "webhookId": "4d4d6d04-ce24-728e-eae7-ici11e19852e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f2000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f2000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4752,
        2800
      ],
      "id": "10466d15-fb65-4663-876e-fab0d26527c3",
      "name": "Validate WhatsApp Payload8"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        2688
      ],
      "id": "2e68e711-36c9-42f5-b864-b092b0106164",
      "name": "Split Members10"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) {\n  phone = '91' + phone;\n}\n\nconst message = `camp14,${name}`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        2688
      ],
      "id": "9fd6d2e1-4247-4858-b3f6-4d99631c6e94",
      "name": "Prepare WhatsApp Message8"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ea095002e28c7ee412c02d",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5408,
        2688
      ],
      "id": "9a0f27a8-66da-4dd8-a68b-11661dd9889d",
      "name": "Send WhatsApp Message8",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g2000001-0000-0000-0000-000000000001",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message8').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "g2000002-0000-0000-0000-000000000002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "g2000003-0000-0000-0000-000000000003",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5984,
        2656
      ],
      "id": "dc358b75-7545-4d40-b888-344c67e38b95",
      "name": "WhatsApp Sent Response9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g2000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message8').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "g2000012-0000-0000-0000-000000000012",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "g2000013-0000-0000-0000-000000000013",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5648,
        2864
      ],
      "id": "1c745703-8884-44ad-be1f-f1c88bde141a",
      "name": "WhatsApp Failed Response9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g2000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Pretest WhatsApp2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "g2000022-0000-0000-0000-000000000022",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "g2000023-0000-0000-0000-000000000023",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        2976
      ],
      "id": "04ae94e0-6bfa-479e-b0f3-ecdd2881d405",
      "name": "WhatsApp Validation Failed8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6320,
        2992
      ],
      "id": "713871df-7fe0-456e-80d6-48524fc12ecc",
      "name": "WhatsApp Callback8",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb1400ff-493d-4ad9-b3d4-63ed7e9b3b22",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5648,
        2672
      ],
      "id": "43fa2682-d711-4ee6-bc35-df0ef696dd64",
      "name": "WhatAPI Accepted?2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b56703-144e-4245-a707-a26644f2f400",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message8').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "07f2525e-16b0-4eea-a03f-14d6abe9cc98",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "dc972576-665a-40e9-91ed-29de2c1d9895",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5856,
        2800
      ],
      "id": "d00d8488-f858-4ab4-aaf4-0a579e91263d",
      "name": "WhatAPI Not Accepted2"
    }
  ],
  "connections": {
    "Pretest WhatsApp2": {
      "main": [
        [
          {
            "node": "Validate WhatsApp Payload8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate WhatsApp Payload8": {
      "main": [
        [
          {
            "node": "Split Members10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Validation Failed8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members10": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Message8": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message8": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response9": {
      "main": [
        [
          {
            "node": "WhatsApp Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response9": {
      "main": [
        [
          {
            "node": "WhatsApp Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Validation Failed8": {
      "main": [
        [
          {
            "node": "WhatsApp Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Accepted?2": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted2": {
      "main": [
        [
          {
            "node": "WhatsApp Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}