n8n/workflows/pretest-email.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send Pre-test Guidelines Email v2\nSends fasting/pre-test guidelines email to each member before Bio-AI Health Report.\nExpects: { notification_id, members: [{ first_name, last_name, email, phone }] }",
        "height": 560,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        1856
      ],
      "typeVersion": 1,
      "id": "76abc208-11e8-4baf-8a65-6900bfea96e3",
      "name": "Sticky Note Email5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pretest-email-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4544,
        2080
      ],
      "id": "fa315cff-353a-442e-9475-8135db3bb527",
      "name": "Pretest Email2",
      "webhookId": "3c3c5c03-bd13-617d-d9c6-hbh00d08741d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f1000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f1000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4784,
        2080
      ],
      "id": "b8ed6dfa-d193-462c-968c-b62d299cfd5a",
      "name": "Validate Email Payload5"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        1968
      ],
      "id": "6d17ec49-3017-4011-80ed-93d0c4841b99",
      "name": "Split Members9"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nconst body = `Hi ${name},\n\nTo ensure accurate and reliable results for your Bio-AI Health Report, please follow the pre-test guidelines below:\n\nFasting:\nA 10 - 12 hour fasting period is recommended before the test.\n\nIf fasting is not possible, you may have a very light, non-greasy breakfast such as:\n*   Plain idli, plain dosa, upma, or poha\n*   Black tea or black coffee\n*   Tender coconut water\n*   A small fruit such as apple or guava\n*   4 - 5 plain almonds or walnuts\n*   Plenty of water\n\nPlease avoid before the test:\n*   Fried items such as medu vada, parathas, or buttered toast\n*   Sugary beverages or juices\n*   Milk or dairy-based drinks\n*   Bananas, mangoes, or other high-sugar fruits\n\nConsuming high-fat or high-sugar foods before the test can significantly alter lipid profile, blood sugar levels, and other metabolic markers, which may impact the accuracy of your Bio-AI Health Report. Also please complete your Health Assessment before your test, as it is essential for generating your Bio-AI report.\n\nThank you for your cooperation, and we look forward to supporting you on your preventive health journey.\n\nWarm regards,\nTeam SuperShyft`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    to: member.email,\n    subject: 'Bio-AI Health Report \\u2013 Pre-test guidelines',\n    body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5216,
        1968
      ],
      "id": "53e2b690-1512-415f-85c3-0096955ead06",
      "name": "Prepare Pretest Email2"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5456,
        1968
      ],
      "id": "95a91383-0b3c-4635-a511-23423cd3fac3",
      "name": "Send Pretest Email2",
      "webhookId": "b390d0fb-b402-4675-bf2a-530f3c060c1a",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1000001-0000-0000-0000-000000000001",
              "name": "notification_id",
              "value": "={{ $('Prepare Pretest Email2').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "g1000002-0000-0000-0000-000000000002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "g1000003-0000-0000-0000-000000000003",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        1888
      ],
      "id": "3928266b-d51c-4c38-80bf-fe7cce789f92",
      "name": "Email Sent Response5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $json.notification_id }}",
              "type": "number"
            },
            {
              "id": "g1000012-0000-0000-0000-000000000012",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "g1000013-0000-0000-0000-000000000013",
              "name": "message",
              "value": "Email sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        2064
      ],
      "id": "7fc2b7e9-093c-44af-a8cc-0af404065c7e",
      "name": "Email Failed Response5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Pretest Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "g1000022-0000-0000-0000-000000000022",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "g1000023-0000-0000-0000-000000000023",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4992,
        2208
      ],
      "id": "74019c3d-fbcc-4ace-b884-e59efc1418de",
      "name": "Email Validation Failed5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6128,
        2208
      ],
      "id": "ef138cfd-80f5-49cd-b020-6443a041193e",
      "name": "Email Callback5",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Pretest Email2": {
      "main": [
        [
          {
            "node": "Validate Email Payload5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Payload5": {
      "main": [
        [
          {
            "node": "Split Members9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Validation Failed5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members9": {
      "main": [
        [
          {
            "node": "Prepare Pretest Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pretest Email2": {
      "main": [
        [
          {
            "node": "Send Pretest Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pretest Email2": {
      "main": [
        [
          {
            "node": "Email Sent Response5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response5": {
      "main": [
        [
          {
            "node": "Email Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed Response5": {
      "main": [
        [
          {
            "node": "Email Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Validation Failed5": {
      "main": [
        [
          {
            "node": "Email Callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}