n8n/workflows/send-blood-report-email-v2.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-notfound-001",
              "name": "notification_id",
              "value": "={{ $('Split Members13').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "url-notfound-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "url-notfound-003",
              "name": "message",
              "value": "Blood report URL not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10592,
        3040
      ],
      "id": "4ffdc0e0-802b-4009-a34b-54f9ab6eb94e",
      "name": "URL Not Found Response"
    },
    {
      "parameters": {
        "content": "## Send Blood Report Email\nEmails blood report to each member.\nExpects: { notification_id, engagement_id, members: [{ first_name, email, phone, blood_report_url }] }",
        "height": 672,
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9584,
        2720
      ],
      "typeVersion": 1,
      "id": "4bcbd5fc-f7ea-4930-9882-0f42a4fd006f",
      "name": "Sticky Note Blood Email2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-blood-report-email-v4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9680,
        2912
      ],
      "id": "0496f4ac-3ad8-45a5-81aa-3dcf3fd45578",
      "name": "Blood Report Email2",
      "webhookId": "e35f3gh8-1234-5678-abcd-blood001email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9888,
        2912
      ],
      "id": "69b054bc-bf8a-46f6-8ccd-e8a899d9e52a",
      "name": "Validate Payload8"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\nconst engagementId = body.engagement_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    engagement_id: engagementId,\n    first_name: member.first_name || 'Participant',\n    email: member.email || '',\n    phone: member.phone || '',\n    blood_report_url: member.blood_report_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        2896
      ],
      "id": "524466d8-f09d-4b12-bb42-d7e982af5907",
      "name": "Split Members13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "url-check-001",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-002",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10352,
        2896
      ],
      "id": "ffd1532e-f32b-45e5-99c8-c8867f742d33",
      "name": "URL Exists?2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $('Split Members13').item.json;\nconst fileUrl = member.blood_report_url;\nconst name = (member.first_name || 'Participant').trim();\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<body>\n  <div class=\"container\">\n    <p>Hi ${name},</p>\n    <p>Thank you for completing your blood collection with Supershyft.</p>\n    <p>Please find your blood test report attached to this email for your reference. Please review the report carefully.</p>\n    <p>Your personalized Bio-AI Health Report, which offers a more comprehensive understanding of your health insights and preventive risk analysis, will be shared separately once you complete the health assessment on the Supershyft app.</p>\n    <p>You can also access your reports and health insights through:<br>\n    <a href=\"${fileUrl}\">Blood Report</a></p>\n    <p>Please log in using your registered mobile number and OTP.</p>\n    <p>If you need any assistance or have questions regarding your reports, feel free to reach out to our support team.</p>\n    <p>Warm regards,<br>\n    Support Team<br>\n    Supershyft<br>\n    <a href=\"https://www.supershyft.com\">www.supershyft.com</a></p>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    engagement_id: member.engagement_id,\n    to: member.email,\n    subject: 'Supershyft Blood Report',\n    htmlBody,\n    fileUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10576,
        2816
      ],
      "id": "d37915fa-0dbe-4dfa-93ec-c5bcf70fae07",
      "name": "Prepare Email8"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.fileUrl }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        10800,
        2816
      ],
      "id": "7a8f090b-1c3f-4df6-9b89-ff9546c45689",
      "name": "Send Blood Report Email2",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "938be4d8-9c2f-48a4-8027-36fd4f74118e",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-001",
              "name": "notification_id",
              "value": "={{ $('Prepare Email8').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-003",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11120,
        2800
      ],
      "id": "d2fe406f-b6f5-4221-8f4e-b7867d9a81ce",
      "name": "Email Sent Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-001",
              "name": "notification_id",
              "value": "={{ $('Prepare Email8').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-003",
              "name": "message",
              "value": "Email sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11008,
        2960
      ],
      "id": "8e899cd2-59a2-4671-a109-553d3062a23b",
      "name": "Email Failed Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valFail-001",
              "name": "notification_id",
              "value": "={{ $('Blood Report Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valFail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valFail-003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10112,
        3168
      ],
      "id": "996b53d3-fccf-460a-983a-36617d0c2047",
      "name": "Validation Failed Response4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11600,
        3184
      ],
      "id": "e9adebbc-e448-4d8c-8e24-a8271a1e4a2a",
      "name": "Callback8",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "URL Not Found Response": {
      "main": [
        [
          {
            "node": "Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blood Report Email2": {
      "main": [
        [
          {
            "node": "Validate Payload8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload8": {
      "main": [
        [
          {
            "node": "Split Members13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members13": {
      "main": [
        [
          {
            "node": "URL Exists?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Exists?2": {
      "main": [
        [
          {
            "node": "Prepare Email8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email8": {
      "main": [
        [
          {
            "node": "Send Blood Report Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Blood Report Email2": {
      "main": [
        [
          {
            "node": "Email Sent Response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response4": {
      "main": [
        [
          {
            "node": "Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed Response4": {
      "main": [
        [
          {
            "node": "Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response4": {
      "main": [
        [
          {
            "node": "Callback8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}