n8n/workflows/send-bioai-report-email-v2.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send BioAI Report Email\nEmails BioAI report to each member.\nExpects: { notification_id, engagement_id, members: [{ first_name, email, phone, bio_ai_report_url }] }",
        "height": 672,
        "width": 2400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9584,
        3664
      ],
      "typeVersion": 1,
      "id": "dc097809-fa03-4e18-b814-61fcdaa9c0de",
      "name": "Sticky Note BioAI Email2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-bioai-report-email-v4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9680,
        3856
      ],
      "id": "48bc4f06-4772-4f4b-8993-6c45d9d51ce5",
      "name": "BioAI Report Email2",
      "webhookId": "f46g4hi9-2345-6789-bcde-bioai002email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9888,
        3856
      ],
      "id": "18d38a1f-0a09-47af-9d3d-9fdf09496508",
      "name": "Validate Payload9"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\nconst engagementId = body.engagement_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    engagement_id: engagementId,\n    first_name: member.first_name || 'Participant',\n    email: member.email || '',\n    phone: member.phone || '',\n    bio_ai_report_url: member.bio_ai_report_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        3840
      ],
      "id": "f496bbe3-7b88-45db-8df8-93594a1425e5",
      "name": "Split Members14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "url-check-001",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-002",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10352,
        3840
      ],
      "id": "f6db1509-8563-496d-b285-9815dfc15888",
      "name": "URL Exists?3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-notfound-001",
              "name": "notification_id",
              "value": "={{ $('Split Members14').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "url-notfound-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "url-notfound-003",
              "name": "message",
              "value": "BioAI report URL not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10608,
        3984
      ],
      "id": "254154da-7249-41dd-a112-c3fe9e703ffb",
      "name": "URL Not Found Response1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $('Split Members14').item.json;\nconst fileUrl = member.bio_ai_report_url;\nconst name = (member.first_name || 'Participant').trim();\n\nconst htmlBody = `<!DOCTYPE html>\n<html>\n<body>\n  <div class=\"container\">\n    <p>Hi ${name},</p>\n    <p>Thank you for completing your Bio-AI health assessment with Supershyft.</p>\n    <p>Please find your personalized Bio-AI Health Report attached to this email. The report combines your blood biomarkers and lifestyle inputs to provide deeper insights into your metabolic health, potential future risk areas, and preventive health recommendations.</p>\n    <p>You can also access and review your reports and insights through:<br>\n    <a href=\"${fileUrl}\">BioAI Report</a></p>\n    <p>Please log in using your registered mobile number and OTP.</p>\n    <p>If you need any assistance accessing your reports or understanding the findings, please feel free to reach out to our support team.</p>\n    <p>Warm regards,<br>\n    Support Team<br>\n    Supershyft<br>\n    <a href=\"https://www.supershyft.com\">www.supershyft.com</a></p>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    engagement_id: member.engagement_id,\n    to: member.email,\n    subject: 'Your Personalized Bio-AI Health Report',\n    htmlBody,\n    fileUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10576,
        3760
      ],
      "id": "046bcb59-fbba-4e70-8aa8-acdb23c581a1",
      "name": "Prepare Email9"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.fileUrl }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        10800,
        3760
      ],
      "id": "6c8584d7-d1c3-44f6-a174-dc4f1e71d953",
      "name": "Send BioAI Report Email2",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "3abdec11-5662-465a-81f4-a881a87a2505",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-001",
              "name": "notification_id",
              "value": "={{ $('Prepare Email9').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-003",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11136,
        3744
      ],
      "id": "635edbb5-1cc8-48d7-b0b5-d7dc48cf50d0",
      "name": "Email Sent Response5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-001",
              "name": "notification_id",
              "value": "={{ $('Prepare Email9').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-003",
              "name": "message",
              "value": "Email sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11072,
        3920
      ],
      "id": "d303444f-e035-448f-8934-374fc6ab449a",
      "name": "Email Failed Response5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valfail-001",
              "name": "notification_id",
              "value": "={{ $('BioAI Report Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valfail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valfail-003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10112,
        4112
      ],
      "id": "eaada525-7585-4d96-a77c-02810f843a9a",
      "name": "Validation Failed Response5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11776,
        4112
      ],
      "id": "77bf921d-30a1-4774-8299-e8f818d0cd6a",
      "name": "Callback9",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "BioAI Report Email2": {
      "main": [
        [
          {
            "node": "Validate Payload9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload9": {
      "main": [
        [
          {
            "node": "Split Members14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members14": {
      "main": [
        [
          {
            "node": "URL Exists?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Exists?3": {
      "main": [
        [
          {
            "node": "Prepare Email9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL Not Found Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Not Found Response1": {
      "main": [
        [
          {
            "node": "Callback9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email9": {
      "main": [
        [
          {
            "node": "Send BioAI Report Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send BioAI Report Email2": {
      "main": [
        [
          {
            "node": "Email Sent Response5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response5": {
      "main": [
        [
          {
            "node": "Callback9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed Response5": {
      "main": [
        [
          {
            "node": "Callback9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response5": {
      "main": [
        [
          {
            "node": "Callback9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}