n8n/workflows/send-reports-email.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send Email\nIt will send Bio AI and Blood Report to each member.\nEach member has their own blood_report_url and bio_ai_report_url.\nExpects: { notification_id, members: [{ first_name, email, blood_report_url, bio_ai_report_url }] }",
        "height": 752,
        "width": 2880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        24352,
        -1152
      ],
      "typeVersion": 1,
      "id": "85efd145-dfc1-4155-90f7-02b55f0f9cf2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-reports-email-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        24448,
        -720
      ],
      "id": "9102ba5a-f05d-4a29-bc17-16049bdfc4c3",
      "name": "Send Reports | Email2",
      "webhookId": "c13f1ef6-90de-41e0-8f92-551fb211d6ac"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffd9b6a9-91cd-44bc-8d1d-62bc70a4baed",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9c616895-d218-4d85-9368-b5c42bbc46dc",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "fd24cccd-da53-48d2-96f1-e580846dc058",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        24656,
        -720
      ],
      "id": "d0286597-272a-4546-8e33-78bba119a093",
      "name": "If12"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || '',\n    blood_report_url: member.blood_report_url || '',\n    bio_ai_report_url: member.bio_ai_report_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24880,
        -880
      ],
      "id": "c451a3c2-b19b-46ac-96e2-a8c9ad5bc55a",
      "name": "Split Members9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "url-check-blood-001",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-blood-002",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "url-check-bio-001",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-bio-002",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        25104,
        -880
      ],
      "id": "e5f6a7b8-url5-4005-b005-000000000001",
      "name": "URLs Exist?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urls-notfound-001",
              "name": "notification_id",
              "value": "={{ $('Split Members9').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "urls-notfound-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "urls-notfound-003",
              "name": "message",
              "value": "Report URLs not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25344,
        -720
      ],
      "id": "e5f6a7b8-url5-4005-b005-000000000002",
      "name": "URLs Not Found Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bioLink   = $('Split Members9').item.json.bio_ai_report_url;\nconst bloodLink = $('Split Members9').item.json.blood_report_url;\nconst member    = $('Split Members9').item.json;\n\nconst body = `Hi ${member.first_name},\n\nThank you for completing your blood sample collection and Lifestyle Questionnaire.\n\nYour reports are now ready:\n\n- Blood Test Report: ${bloodLink}\n- Personalized Bio-AI Health Report: ${bioLink}\n\nWarm regards,\nTeam SuperShyft`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    to: member.email,\n    subject: 'Your Blood and Bio-AI Reports are Ready',\n    body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25344,
        -1088
      ],
      "id": "fd125ea2-5485-4648-b183-947da0b810e9",
      "name": "Prepare Email6"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        25600,
        -1088
      ],
      "id": "7d3f1675-40e9-40ef-8043-71c2412c1649",
      "name": "Send an Email2",
      "webhookId": "b390d0fb-b402-4675-bf2a-530f3c060c1a",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "142a83ea-738c-4817-8a59-23e1d393f64e",
              "name": "notification_id",
              "value": "={{ $('Prepare Email6').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "98d98822-f125-41af-9d93-13c748585f13",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "de100b0b-ed48-4b83-a749-bee61b5e2054",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25888,
        -1104
      ],
      "id": "acd7e7c3-2b3c-465e-bdca-f2ccc4bec1e1",
      "name": "Prepare Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "345bfda5-bd6c-48f3-b1ce-5f9e18c9127d",
              "name": "notification_id",
              "value": "={{ $('Prepare Email6').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "03acbaae-44ac-47dc-a486-356fbe1fdf3c",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "5ff0eaef-cfb1-4bc7-abbd-d3820fe3466f",
              "name": "message",
              "value": "Email sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25888,
        -896
      ],
      "id": "89e765cb-f24d-4f1a-b175-79d1c990d639",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73c4a7c5-095c-4d1f-88de-0a2165f1ac0a",
              "name": "notification_id",
              "value": "={{ $('Send Reports | Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "8ba0fba9-974a-4ea2-b4e8-e05d9e51fe55",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "b85f18cd-a9ee-4f01-a814-c55a9aaae493",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24880,
        -624
      ],
      "id": "5dea7415-8766-436b-961f-d91e2be028da",
      "name": "Prepare Response5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        26176,
        -624
      ],
      "id": "7e1d5399-65d0-46ac-9a9a-df8c4b2b32d3",
      "name": "Call Back5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Send Reports | Email2": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Split Members9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members9": {
      "main": [
        [
          {
            "node": "URLs Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs Exist?": {
      "main": [
        [
          {
            "node": "Prepare Email6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URLs Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email6": {
      "main": [
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email2": {
      "main": [
        [
          {
            "node": "Prepare Response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response4": {
      "main": [
        [
          {
            "node": "Call Back5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Call Back5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs Not Found Response": {
      "main": [
        [
          {
            "node": "Call Back5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response5": {
      "main": [
        [
          {
            "node": "Call Back5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}