n8n/workflows/send-blood-report-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Sends Blood Report on WhatsApp\nExpects: { notification_id, members: [{ first_name, phone, blood_report_url }] }",
        "height": 656,
        "width": 2240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9600,
        1760
      ],
      "typeVersion": 1,
      "id": "c9229d37-02c1-4a4d-98c1-bc129f9b0aa1",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-blood-report-whatsapp-v4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9696,
        1952
      ],
      "id": "2c7a1793-07f4-4fca-b847-3c12b21720bd",
      "name": "Blood Report Whatsapp3",
      "webhookId": "d24f2ef7-91df-42f1-8a93-662fc322e7bd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1000001-0001-0001-0001-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1000001-0001-0001-0001-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1000001-0001-0001-0001-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9904,
        1952
      ],
      "id": "a1a30f09-0983-4808-ad46-b8ac45ed7da3",
      "name": "Validate Payload7"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    phone: member.phone || '',\n    blood_report_url: member.blood_report_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10128,
        1936
      ],
      "id": "248485cc-36f3-46a8-80ef-0f78904d7a42",
      "name": "Split Members12"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nlet phone_valid = true;\nif (phone.length === 10) {\n  phone = '91' + phone;\n} else if (phone.length === 12 && phone.startsWith('91')) {\n  // already valid\n} else {\n  phone_valid = false;\n}\n\nconst first_name = (member.first_name || 'Participant').trim();\n\nconst message =\n`camp15,${first_name},Thank you for completing your blood sample collection and the Lifestyle Questionnaire.,Your Blood Test Reports are attached below.,The report includes 88+ biomarker profiles. ,Please visit: app.supershyft.com`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    blood_report_url: member.blood_report_url,\n    first_name,\n    phone,\n    phone_valid,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        1936
      ],
      "id": "d5c4b729-327d-47ea-ac44-07290b9aa324",
      "name": "Format Phone and Message3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "phone-valid-001",
              "leftValue": "={{ $json.phone_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10480,
        1936
      ],
      "id": "18002be5-c869-4e12-b5dc-d69ee695d762",
      "name": "Phone Valid?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone-invalid-001",
              "name": "notification_id",
              "value": "={{ $('Format Phone and Message3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "phone-invalid-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "phone-invalid-003",
              "name": "message",
              "value": "Invalid phone number",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10704,
        2080
      ],
      "id": "75fa31a3-8281-4811-a047-cf050157dc3f",
      "name": "Set Invalid Phone Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "url-check-001",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-002",
              "leftValue": "={{ $json.blood_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10704,
        1920
      ],
      "id": "00768bd3-443d-450f-9627-78fa2896106c",
      "name": "URL Exists?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-notfound-001",
              "name": "notification_id",
              "value": "={{ $('Format Phone and Message3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "url-notfound-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "url-notfound-003",
              "name": "message",
              "value": "Blood report URL not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10944,
        2016
      ],
      "id": "b172b3b4-9688-486d-bba0-460c2ff9f4df",
      "name": "Set URL Not Found Status1"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ea095002e28c7ee412c02d",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Format Phone and Message3').item.json.phone }}"
            },
            {
              "name": "number",
              "value": "={{ $('Format Phone and Message3').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Format Phone and Message3').item.json.message }}"
            },
            {
              "name": "medialink",
              "value": "={{ $('Format Phone and Message3').item.json.blood_report_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10928,
        1824
      ],
      "id": "cf413c85-cf63-4e09-92d6-25edf857ab2f",
      "name": "Send Blood Report Whatsapp3",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wa-accepted-001",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11152,
        1808
      ],
      "id": "ef067027-c555-402e-a251-190a5b55949b",
      "name": "WhatAPI Accepted?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1000003-0003-0003-0003-000000000001",
              "name": "notification_id",
              "value": "={{ $('Format Phone and Message3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "a1000003-0003-0003-0003-000000000002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "a1000003-0003-0003-0003-000000000003",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11376,
        1792
      ],
      "id": "7a065c47-73b3-4781-a113-e40c87e856b5",
      "name": "Set Success Status3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-notaccepted-001",
              "name": "notification_id",
              "value": "={{ $('Format Phone and Message3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "wa-notaccepted-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "wa-notaccepted-003",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11376,
        1968
      ],
      "id": "bfe43e02-0da9-4ef7-bc4a-f47cc000b929",
      "name": "Set Not Accepted Status1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-fail-001",
              "name": "notification_id",
              "value": "={{ $('Format Phone and Message3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "wa-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "wa-fail-003",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11152,
        1968
      ],
      "id": "4b817139-d77e-4f2c-b47e-c97f8d5c6ffb",
      "name": "Set WhatsApp Failed Status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1000005-0005-0005-0005-000000000001",
              "name": "notification_id",
              "value": "={{ $('Blood Report Whatsapp3').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "a1000005-0005-0005-0005-000000000002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "a1000005-0005-0005-0005-000000000003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10128,
        2144
      ],
      "id": "c52e0455-772b-467f-b0ce-94248e84a6bb",
      "name": "Set Validation Failed Status3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11616,
        2160
      ],
      "id": "437ef166-ab47-4391-9323-561e032bbc7b",
      "name": "Callback7",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Blood Report Whatsapp3": {
      "main": [
        [
          {
            "node": "Validate Payload7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload7": {
      "main": [
        [
          {
            "node": "Split Members12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Validation Failed Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members12": {
      "main": [
        [
          {
            "node": "Format Phone and Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Phone and Message3": {
      "main": [
        [
          {
            "node": "Phone Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Valid?": {
      "main": [
        [
          {
            "node": "URL Exists?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Invalid Phone Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invalid Phone Status": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Exists?1": {
      "main": [
        [
          {
            "node": "Send Blood Report Whatsapp3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set URL Not Found Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL Not Found Status1": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Blood Report Whatsapp3": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set WhatsApp Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Accepted?1": {
      "main": [
        [
          {
            "node": "Set Success Status3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Not Accepted Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Status3": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Not Accepted Status1": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set WhatsApp Failed Status": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Validation Failed Status3": {
      "main": [
        [
          {
            "node": "Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}