n8n/workflows/send-bioai-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "url-check-001",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "url-check-002",
              "leftValue": "={{ $json.bio_ai_report_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10576,
        912
      ],
      "id": "770a856e-5da3-4438-8174-5a1a457feffe",
      "name": "URL Exists?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url-notfound-001",
              "name": "notification_id",
              "value": "={{ $('Code in JavaScript3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "url-notfound-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "url-notfound-003",
              "name": "message",
              "value": "BioAI report URL not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10800,
        1120
      ],
      "id": "f5721b48-f4a2-4a45-97da-b2f19ec57d30",
      "name": "Set URL Not Found Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "wa-accepted-001",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11040,
        880
      ],
      "id": "c4013502-71fb-4a5c-a33b-3ebca0f8750b",
      "name": "WhatAPI Accepted?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-notaccepted-001",
              "name": "notification_id",
              "value": "={{ $('Code in JavaScript3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "wa-notaccepted-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "wa-notaccepted-003",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11248,
        976
      ],
      "id": "01549726-17b9-41a0-a505-103dbcc6e3c8",
      "name": "Set Not Accepted Status"
    },
    {
      "parameters": {
        "content": "## Sends Bio AI Report on Whatsapp\nExpects: { notification_id, members: [{ first_name, phone, bio_ai_report_url }] }",
        "height": 672,
        "width": 2192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9584,
        736
      ],
      "typeVersion": 1,
      "id": "70047338-6614-47bf-9845-c09b29b6a2e0",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-bioai-whatsapp-v4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9680,
        928
      ],
      "id": "3add0b49-a7e1-424d-98db-df1e7ac35190",
      "name": "BioAI Whatsapp3",
      "webhookId": "c13f1ef6-90de-41e0-8f92-551fb211d6ac"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4900e1a-6f0e-4bab-9041-f05ecde58fa9",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "499caaec-2faa-42db-a5a4-4b60f8f6c730",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9691f373-dbaf-4cc6-a31f-ecbe901cf58a",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9888,
        928
      ],
      "id": "8df37117-d859-43a6-90f2-98c044a30c1f",
      "name": "If16"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    phone: member.phone || '',\n    bio_ai_report_url: member.bio_ai_report_url || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10112,
        912
      ],
      "id": "4de53a5c-44b3-4685-a9c8-37f751a6d4c4",
      "name": "Split Members11"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst message =\n`camp15,${name},\nYour personalized Bio-AI Health Report is attached below.,\nYour report includes personalized metabolic health insights and recommendations.,\nYou can find everything you need below for easy access,\nPlease visit: app.supershyft.com`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    bio_ai_report_url: member.bio_ai_report_url,\n    first_name: name,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10352,
        912
      ],
      "id": "d88d14ec-ef31-4fef-bcc3-b39fb594e59c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ea095002e28c7ee412c02d",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Code in JavaScript3').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Code in JavaScript3').item.json.message }}"
            },
            {
              "name": "medialink",
              "value": "={{ $('Code in JavaScript3').item.json.bio_ai_report_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10800,
        896
      ],
      "id": "033a04ae-3330-4b21-8eb7-1afe098bd48c",
      "name": "Send BioAI Whatsapp3",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37b41bde-ee96-4a60-a1a9-03f6336aceff",
              "name": "notification_id",
              "value": "={{ $('Code in JavaScript3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "c798708a-e137-4725-9ac3-762337ff1fce",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "f0f67fe0-9708-4bba-8d9b-da9aa61a75ba",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11248,
        784
      ],
      "id": "e61be49f-c37f-475b-8e5e-4f5e82a4dcf6",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bio-wa-fail-001",
              "name": "notification_id",
              "value": "={{ $('Code in JavaScript3').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "bio-wa-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "bio-wa-fail-003",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11040,
        1056
      ],
      "id": "427f3a9f-ea0c-484e-9688-791202afcb09",
      "name": "Edit Fields22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8741d8fd-bfbf-46ce-bb41-c133fd398608",
              "name": "notification_id",
              "value": "={{ $('BioAI Whatsapp3').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "304a6765-ed6a-40cc-8df4-cd92af6dbe17",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "4232dba7-0d7f-4b95-b52d-d95a54d80953",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10112,
        1216
      ],
      "id": "48c4474b-bcae-430a-9917-107d902ee546",
      "name": "Edit Fields23"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11536,
        1232
      ],
      "id": "18b8ae39-f9f1-41d5-80b1-0f76f7d6e52d",
      "name": "Call Back7",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "URL Exists?": {
      "main": [
        [
          {
            "node": "Send BioAI Whatsapp3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set URL Not Found Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL Not Found Status": {
      "main": [
        [
          {
            "node": "Call Back7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Accepted?": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Not Accepted Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Not Accepted Status": {
      "main": [
        [
          {
            "node": "Call Back7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BioAI Whatsapp3": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "Split Members11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members11": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "URL Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send BioAI Whatsapp3": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Call Back7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields22": {
      "main": [
        [
          {
            "node": "Call Back7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields23": {
      "main": [
        [
          {
            "node": "Call Back7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}