n8n/workflows/welcome-whatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9eb4b785-9464-4eaf-b17c-b0eb2d26d121",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5648,
        352
      ],
      "id": "a1fd49c7-26eb-44b8-8fb1-13b3b760fe95",
      "name": "WhatAPI Accepted?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa49f5e1-a91e-4556-a509-de8dee50e736",
              "name": "notification_id",
              "value": "={{ $('Welcome WhatsApp4').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "efebb451-675a-4c72-9e2f-cde401a14ddf",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "6b82687f-5322-4b4e-baae-1f066a556b04",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5888,
        480
      ],
      "id": "6d15d965-77bc-4284-8ece-4ac933bbf5ed",
      "name": "WhatAPI Not Accepted"
    },
    {
      "parameters": {
        "content": "## Send Welcome WhatsApp v2\nSends a welcome WhatsApp message to each member in the payload.\nExpects: { notification_id, members: [{ first_name, last_name, email, phone }] }",
        "height": 624,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        304
      ],
      "typeVersion": 1,
      "id": "76c39c0e-d70c-4d00-b1ec-5d565b179216",
      "name": "Sticky Note WhatsApp6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welcome-whatsapp-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4496,
        544
      ],
      "id": "ddbe04bf-17c9-4ed4-aaa2-c688c70060bf",
      "name": "Welcome WhatsApp4",
      "webhookId": "2b2b4b02-ac02-506c-c8b5-gag99c97630c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e2000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e2000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4704,
        544
      ],
      "id": "45ef37cc-8448-4593-8283-652f5d125acc",
      "name": "Validate WhatsApp Payload6"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        432
      ],
      "id": "a3553547-02cc-419c-b6ff-290c46650e9a",
      "name": "Split Members7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) {\n  phone = '91' + phone;\n}\n\nconst message =\n`camp13,${name},Thank you so much for trusting us and taking the first step towards prevention.,Your SuperShyft health profile is ready! ,Please take a few minutes to complete your Health Assessment covering lifestyle and daily activity.,Your inputs help build your Bio AI Health Report and better details will lead to more meaningful insights. ,Please visit: app.supershyft.com`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        432
      ],
      "id": "182449d3-e830-4f5f-bc6d-9dc95eaecaa0",
      "name": "Prepare WhatsApp Message6"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ea095002e28c7ee412c02d",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5408,
        432
      ],
      "id": "4d67a57e-bb8d-4588-a7ab-270230dc5eae",
      "name": "Send WhatsApp Message6",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000031-0000-0000-0000-000000000031",
              "name": "notification_id",
              "value": "={{ $('Welcome WhatsApp4').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000032-0000-0000-0000-000000000032",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "f5000033-0000-0000-0000-000000000033",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6048,
        336
      ],
      "id": "d11024e8-9803-4f1e-9db2-b8714813f17d",
      "name": "WhatsApp Sent Response7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000041-0000-0000-0000-000000000041",
              "name": "notification_id",
              "value": "={{ $('Welcome WhatsApp4').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000042-0000-0000-0000-000000000042",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000043-0000-0000-0000-000000000043",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5648,
        592
      ],
      "id": "6198e226-09d5-42f5-985a-3ee47d2b74d8",
      "name": "WhatsApp Failed Response7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000051-0000-0000-0000-000000000051",
              "name": "notification_id",
              "value": "={{ $('Welcome WhatsApp4').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000052-0000-0000-0000-000000000052",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000053-0000-0000-0000-000000000053",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        736
      ],
      "id": "74153696-a662-437a-b39b-d119eaf90a63",
      "name": "WhatsApp Validation Failed6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6288,
        752
      ],
      "id": "7ab85ef9-5502-4d49-b023-0f7dd5632b23",
      "name": "WhatsApp Callback6",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "WhatAPI Accepted?": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted": {
      "main": [
        [
          {
            "node": "WhatsApp Callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome WhatsApp4": {
      "main": [
        [
          {
            "node": "Validate WhatsApp Payload6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate WhatsApp Payload6": {
      "main": [
        [
          {
            "node": "Split Members7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Validation Failed6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members7": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Message6": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message6": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response7": {
      "main": [
        [
          {
            "node": "WhatsApp Callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response7": {
      "main": [
        [
          {
            "node": "WhatsApp Callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Validation Failed6": {
      "main": [
        [
          {
            "node": "WhatsApp Callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}