n8n/workflows/welcome-whatsapp-metsights.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email || '',\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1168
      ],
      "id": "a0bd8a86-6fab-4c41-90ff-83ea6c5c48e8",
      "name": "Split Members8"
    },
    {
      "parameters": {
        "content": "## Send Welcome WhatsApp (Redirect to Metsights)\nSends a welcome WhatsApp message to each member in the payload.\nExpects: { notification_id, members: [{ first_name, last_name, email, phone }] }",
        "height": 576,
        "width": 2192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4416,
        1040
      ],
      "typeVersion": 1,
      "id": "b11e2011-156a-44da-ae2f-f47dad3ecc52",
      "name": "Sticky Note WhatsApp7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welcome-whatsapp-metsights-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4512,
        1280
      ],
      "id": "0b9cb1d1-a182-4d6b-a7fc-f1962fe19fe3",
      "name": "Welcome WhatsApp5",
      "webhookId": "2b2b4b02-ac02-506c-c8b5-gag99c97630c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e2000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e2000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4720,
        1280
      ],
      "id": "cbee261d-bff1-4955-af91-b17bb98feb1d",
      "name": "Validate WhatsApp Payload7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) {\n  phone = '91' + phone;\n}\n\nconst message =\n`camp17,${name},Thank you so much for trusting us and taking the first step towards prevention,Your SuperShyft health profile is ready!,Complete your Health Assessment by answering a few quick questions about your nutrition,sleep and physical activity.,If you have any query or want to reschedule your test feel free to reach out on 8209512559,Please visit: www.metsights.com`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1168
      ],
      "id": "8cf161ff-208d-465f-bb61-075a6ce18b09",
      "name": "Prepare WhatsApp Message7"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/6a057e696f1a8bf9dd523d1f",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5424,
        1168
      ],
      "id": "068d6b85-80c6-4231-a30e-7f7ce161d90e",
      "name": "Send WhatsApp Message7",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000031-0000-0000-0000-000000000031",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message7').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000032-0000-0000-0000-000000000032",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "f5000033-0000-0000-0000-000000000033",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6096,
        1056
      ],
      "id": "cb3ec61e-b829-467a-abe9-5a84221fe8ad",
      "name": "WhatsApp Sent Response8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000041-0000-0000-0000-000000000041",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message7').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000042-0000-0000-0000-000000000042",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000043-0000-0000-0000-000000000043",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5712,
        1280
      ],
      "id": "7618c98f-324d-4070-a7c2-2390964b0d01",
      "name": "WhatsApp Failed Response8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000051-0000-0000-0000-000000000051",
              "name": "notification_id",
              "value": "={{ $('Welcome WhatsApp5').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000052-0000-0000-0000-000000000052",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000053-0000-0000-0000-000000000053",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4976,
        1408
      ],
      "id": "188f5149-54ba-4c61-b5c4-a980ec4cd78f",
      "name": "WhatsApp Validation Failed7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6368,
        1424
      ],
      "id": "c87c8161-7738-4afe-bd0c-8c41e6f2b559",
      "name": "WhatsApp Callback7",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "934b7bf7-6ee8-4256-8649-93597f326073",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5712,
        1072
      ],
      "id": "1e1e4674-f45c-447e-b2a9-43f997044a80",
      "name": "WhatAPI Accepted?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9578910a-5d1f-49f0-8308-be7cb35a64b2",
              "name": "notification_id",
              "value": "={{ $('Prepare WhatsApp Message7').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "ea874ca3-c3bd-46ce-9cc1-e4d1ff1d2733",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "637ea8a2-a161-4df8-8d8e-efc1bc1e026b",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5952,
        1200
      ],
      "id": "57eaa171-5335-4ddc-994a-d008b9af51a2",
      "name": "WhatAPI Not Accepted1"
    }
  ],
  "connections": {
    "Split Members8": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome WhatsApp5": {
      "main": [
        [
          {
            "node": "Validate WhatsApp Payload7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate WhatsApp Payload7": {
      "main": [
        [
          {
            "node": "Split Members8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Validation Failed7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Message7": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message7": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response8": {
      "main": [
        [
          {
            "node": "WhatsApp Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response8": {
      "main": [
        [
          {
            "node": "WhatsApp Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Validation Failed7": {
      "main": [
        [
          {
            "node": "WhatsApp Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Accepted?1": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted1": {
      "main": [
        [
          {
            "node": "WhatsApp Callback7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}