n8n/workflows/welcome-email.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Fan out: one output item per member\nconst body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    last_name: member.last_name || '',\n    email: member.email,\n    phone: member.phone || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        -320
      ],
      "id": "1beea7fb-21c5-4974-9089-871ad672c242",
      "name": "Split Members6"
    },
    {
      "parameters": {
        "content": "## Send Welcome Email v2\nSends a welcome email to each member in the payload.\nExpects: { notification_id, members: [{ first_name, last_name, email, phone }] }",
        "height": 640,
        "width": 1848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        -480
      ],
      "typeVersion": 1,
      "id": "5d20f1b4-3600-4e78-89ee-4513913f2088",
      "name": "Sticky Note Email4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welcome-email-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4496,
        -240
      ],
      "id": "f14f98c8-8883-4244-b808-05027ad7a408",
      "name": "Welcome Email2",
      "webhookId": "1a1a3a01-9b01-405b-b7a4-f9f88b86529b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e1000002-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e1000003-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4720,
        -240
      ],
      "id": "3c4ec863-42b2-4ff8-a426-89cb04843276",
      "name": "Validate Email Payload4"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\nconst name = (member.first_name || 'Participant').trim();\n\nconst body = `Hi ${name},\n\nThank you for trusting us and taking the first step towards preventive health, your profile is now ready !\n\nReady to get started?\nPlease visit: https://app.supershyft.com/\nLog in using your registered mobile number and Verify via OTP for secure access\n\nTo unlock your personalized Bio-AI Health Report, please complete your Health Assessment. These inputs enable us to generate more accurate, personalized, and actionable insights for your Bio-AI report.\n\nIf you need any assistance, please feel free to reach out, we're happy to help. Looking forward to supporting you on your health journey.\n\nWarm regards,\nTeam Supershyft`;\n\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    to: member.email,\n    subject: 'Your Supershyft Profile is Ready',\n    body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        -320
      ],
      "id": "5d6ac825-462f-4145-a151-ce7c0dcae945",
      "name": "Prepare Welcome Email2"
    },
    {
      "parameters": {
        "fromEmail": "support@supershyft.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5376,
        -320
      ],
      "id": "d151b93f-a0d5-418c-9ad5-9263773625db",
      "name": "Send Welcome Email2",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "webhookId": "b6dd4cc8-c9de-44dd-9d3f-4cbd38038bf3",
      "credentials": {
        "smtp": {
          "id": "eCub7Y6RwBvqnurK",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000001-0000-0000-0000-000000000001",
              "name": "notification_id",
              "value": "={{ $('Welcome Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000002-0000-0000-0000-000000000002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "f5000003-0000-0000-0000-000000000003",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        -336
      ],
      "id": "174927a2-5da2-4896-905f-d287a48242ba",
      "name": "Email Sent Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000011-0000-0000-0000-000000000011",
              "name": "notification_id",
              "value": "={{ $('Welcome Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000012-0000-0000-0000-000000000012",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000013-0000-0000-0000-000000000013",
              "name": "message",
              "value": "Email sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5584,
        -208
      ],
      "id": "bc94830f-d905-4668-b2d6-f60497f6e66d",
      "name": "Email Failed Response4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5000021-0000-0000-0000-000000000021",
              "name": "notification_id",
              "value": "={{ $('Welcome Email2').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "f5000022-0000-0000-0000-000000000022",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "f5000023-0000-0000-0000-000000000023",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4944,
        -64
      ],
      "id": "f9e97aec-1901-4c4e-a9c4-28caf125b6eb",
      "name": "Email Validation Failed4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6000,
        -64
      ],
      "id": "3f3e748d-2120-422e-a1c2-c29572d4c716",
      "name": "Email Callback4",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Split Members6": {
      "main": [
        [
          {
            "node": "Prepare Welcome Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email2": {
      "main": [
        [
          {
            "node": "Validate Email Payload4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Payload4": {
      "main": [
        [
          {
            "node": "Split Members6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Validation Failed4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Welcome Email2": {
      "main": [
        [
          {
            "node": "Send Welcome Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email2": {
      "main": [
        [
          {
            "node": "Email Sent Response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Failed Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent Response4": {
      "main": [
        [
          {
            "node": "Email Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed Response4": {
      "main": [
        [
          {
            "node": "Email Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Validation Failed4": {
      "main": [
        [
          {
            "node": "Email Callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}