n8n/workflows/whatapi-otp.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Send OTP WhatsApp\nSends OTP via WhatsApp to each member.\nExpects: { notification_id, members: [{ first_name, phone, otp }] }",
        "height": 560,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        688
      ],
      "typeVersion": 1,
      "id": "b1db14c7-99b9-401e-bde6-16a23bd46c01",
      "name": "Sticky Note OTP WhatsApp"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-otp-whatsapp-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        880
      ],
      "id": "108ba5bc-cb7a-4836-927d-ae0483a2b9ac",
      "name": "OTP WhatsApp",
      "webhookId": "h68i6jk1-4567-8901-defg-otp004whatsap"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst otp = String(member.otp || '');\nconst message = `otp,${otp}`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        864
      ],
      "id": "ad9293fd-86bc-4214-a5e6-e44e9893ef74",
      "name": "Prepare OTP Message"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ddf96c02e28c7ee408ae3e",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        864
      ],
      "id": "f8e1d405-c431-4363-b533-f83f8e063aae",
      "name": "Send OTP WhatsApp",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-001",
              "name": "notification_id",
              "value": "={{ $('Prepare OTP Message').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-003",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        848
      ],
      "id": "acce294a-2b1a-4807-a0d1-7d902f4b97c1",
      "name": "WhatsApp Sent Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-001",
              "name": "notification_id",
              "value": "={{ $('Prepare OTP Message').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-003",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        944
      ],
      "id": "3af986d3-ae1c-4c6f-9ffb-519ecb15327b",
      "name": "WhatsApp Failed Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        880
      ],
      "id": "991278a5-a535-467a-81f3-cfb1f9c7d09f",
      "name": "Validate Payload1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    phone: member.phone || '',\n    otp: member.otp || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        864
      ],
      "id": "239e867e-952f-4bb6-a56f-2c018afdf536",
      "name": "Split Members1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valfail-001",
              "name": "notification_id",
              "value": "={{ $('OTP WhatsApp').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valfail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valfail-003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        1056
      ],
      "id": "e9e99411-f65b-4f7c-ab07-485ff416b6a5",
      "name": "Validation Failed Response1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        1056
      ],
      "id": "85514cb5-5a5d-4e5a-b631-b0b0abdb08a5",
      "name": "Callback1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "OTP WhatsApp": {
      "main": [
        [
          {
            "node": "Validate Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OTP Message": {
      "main": [
        [
          {
            "node": "Send OTP WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP WhatsApp": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload1": {
      "main": [
        [
          {
            "node": "Split Members1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members1": {
      "main": [
        [
          {
            "node": "Prepare OTP Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response1": {
      "main": [
        [
          {
            "node": "Callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}