n8n/workflows/whatapi-otp.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "417c2347-9399-4a3d-b757-268f6f1c2573",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3264,
        848
      ],
      "id": "6ad9144b-319f-4979-a9c7-1cbeb4b7629a",
      "name": "WhatAPI Accepted?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24ff2cc4-2183-4793-8455-1124b3af9fcf",
              "name": "notification_id",
              "value": "={{ $('Prepare OTP Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "260c3405-00ec-4b59-9ea6-35bf7476bf3c",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "618224a2-585b-45ad-9806-bf302e5bb874",
              "name": "message",
              "value": "WhatsApp sending failed: message not accepted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        960
      ],
      "id": "ffad884f-e950-4bba-854c-b46adbed179b",
      "name": "WhatAPI Not Accepted"
    },
    {
      "parameters": {
        "content": "## Send OTP WhatsApp\nSends OTP via WhatsApp to each member.\nExpects: { notification_id, members: [{ first_name, phone, otp }] }",
        "height": 720,
        "width": 2128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        688
      ],
      "typeVersion": 1,
      "id": "cb9d6a31-8530-42e5-8c80-9f85d71cdca6",
      "name": "Sticky Note OTP WhatsApp1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-otp-whatsapp-v3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2176,
        880
      ],
      "id": "260b5d58-d831-404b-8fee-134ba2b1fbea",
      "name": "OTP WhatsApp1",
      "webhookId": "h68i6jk1-4567-8901-defg-otp004whatsap"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const member = $input.item.json;\n\nlet phone = String(member.phone || '').replace(/\\D/g, '');\nif (phone.length === 10) phone = '91' + phone;\n\nconst otp = String(member.otp || '');\nconst message = `otp,${otp}`;\n\nreturn {\n  json: {\n    notification_id: member.notification_id,\n    phone,\n    message\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        864
      ],
      "id": "67110038-7ea2-45a4-81b8-429c361e1b92",
      "name": "Prepare OTP Message1"
    },
    {
      "parameters": {
        "url": "https://webhook.whatapi.in/webhook/69ddf96c02e28c7ee408ae3e",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3072,
        864
      ],
      "id": "4ebcf61f-d2fe-4736-a956-f242cfd90889",
      "name": "Send OTP WhatsApp1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-sent-001",
              "name": "notification_id",
              "value": "={{ $('Prepare OTP Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-sent-002",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "resp-sent-003",
              "name": "message",
              "value": "Message sent successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3632,
        832
      ],
      "id": "90f8a107-e4c8-4d99-8fb9-8675fa84d435",
      "name": "WhatsApp Sent Response1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-fail-001",
              "name": "notification_id",
              "value": "={{ $('Prepare OTP Message1').item.json.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-fail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-fail-003",
              "name": "message",
              "value": "WhatsApp sending failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        1072
      ],
      "id": "fbf5f250-2b13-4dca-8d66-5523a4cb7262",
      "name": "WhatsApp Failed Response1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-001",
              "leftValue": "={{ $json.body.notification_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-002",
              "leftValue": "={{ $json.body.members }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "val-003",
              "leftValue": "={{ $json.body.members.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        880
      ],
      "id": "10dc6595-90f5-4e5e-ac00-0faf5ad228cc",
      "name": "Validate Payload3"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst notificationId = body.notification_id;\n\nreturn body.members.map(member => ({\n  json: {\n    notification_id: notificationId,\n    first_name: member.first_name || 'Participant',\n    phone: member.phone || '',\n    otp: member.otp || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        864
      ],
      "id": "a62119c5-0833-4aba-b646-ef2407fc12b7",
      "name": "Split Members3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-valfail-001",
              "name": "notification_id",
              "value": "={{ $('OTP WhatsApp1').item.json.body.notification_id }}",
              "type": "number"
            },
            {
              "id": "resp-valfail-002",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "resp-valfail-003",
              "name": "message",
              "value": "Payload validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        1184
      ],
      "id": "d284d9f3-2f3a-4edd-9d4e-89b80d5e0d88",
      "name": "Validation Failed Response3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supershyft.com/notifications/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_id\": {{ $json.notification_id }},\n  \"status\": \"{{ $json.status }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3920,
        1200
      ],
      "id": "6622a694-4cd9-4fe0-ac64-fea56f072eb5",
      "name": "Callback3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "djiMPtATquR2OnRc",
          "name": "Notification Header Auth | api.supershyft"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "WhatAPI Accepted?": {
      "main": [
        [
          {
            "node": "WhatsApp Sent Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatAPI Not Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatAPI Not Accepted": {
      "main": [
        [
          {
            "node": "Callback3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP WhatsApp1": {
      "main": [
        [
          {
            "node": "Validate Payload3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OTP Message1": {
      "main": [
        [
          {
            "node": "Send OTP WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP WhatsApp1": {
      "main": [
        [
          {
            "node": "WhatAPI Accepted?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Failed Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Sent Response1": {
      "main": [
        [
          {
            "node": "Callback3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Failed Response1": {
      "main": [
        [
          {
            "node": "Callback3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload3": {
      "main": [
        [
          {
            "node": "Split Members3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Members3": {
      "main": [
        [
          {
            "node": "Prepare OTP Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed Response3": {
      "main": [
        [
          {
            "node": "Callback3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "eed8b3457b986f6362867dfc9a5378439da2846ec92ad64fddac97c84b5cba32"
  }
}